[project]
	description = dasdasdasd
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MezVM
[access "refs/for/refs/*"]
	read = group user/MezVM
	push = group user/MezVM
	label-Code-Review = -2..+2 group user/MezVM
	label-Verified = -1..+1 group user/MezVM
	rebase = group user/MezVM
	removeReviewer = group user/MezVM
	submit = group user/MezVM
[access "refs/heads/*"]
	read = group user/MezVM
	create = group user/MezVM
	push = +force group user/MezVM
	pushMerge = group user/MezVM
[access "refs/tags/*"]
	push = +force group user/MezVM
	pushTag = group user/MezVM
	pushSignedTag = group user/MezVM
[receive]
	requireChangeId = true
